In [1]:
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import sys
sys.path.insert(0, '../utils')
import visualization
import preprocessing

In [3]:
df_test = visualization.json_to_df('../data/raw/test.json')

In [4]:
print('head.words with length < 3')
[word for word in np.unique(df_test['head.word']) if len(word) < 3]

head.words with length < 3

['3M', 'AZ', 'Bo', 'Ed', 'FX', 'Sy', 'UK', 'VX', 'Yu']

In [5]:
print('tail.words with length < 3')
[word for word in np.unique(df_test['tail.word']) if len(word) < 3]

tail.words with length < 3

['3M', 'AZ', 'Bo', 'Ed', 'FX', 'Sy', 'UK', 'VX', 'Yu']

In [6]:
def prepare_data(df):
    df_clean = preprocessing.add_sentence_length(df)
    df_clean = preprocessing.remove_outlier_sentence_lengths(df_clean)
    df_clean = df_clean[['head.word', 'tail.word', 'sentence', 'relation']]
    return df_clean

In [7]:
df_test_clean = prepare_data(df_test)
df_test_clean
df_test_clean.to_csv('../data/test/test.csv')

Removed 2 outliers

,head.word,tail.word,sentence,relation
0,Arthur Schnitzler,Vienna,"The Little Comedy , '' a mannered operetta bas...",/people/person/place_of_birth
1,Roberto Calvi,Italy,A court in Rome acquitted five people accused ...,/people/person/nationality
2,Johnny Rivers,Louisiana,There were also performers who were born in Lo...,/people/person/place_lived
3,Philippines,San Carlos City,"When Julian Resuello , the mayor of San Carlos...",/location/location/contains
4,Alex Salmond,Scotland,"A3 Concern Raised by Libya Deal Alex Salmond ,...",/people/person/nationality
5,Alex Salmond,Scotland,"Alex Salmond , the newly elected first ministe...",/people/person/nationality
6,Evo Morales,Bolivia,"Indeed , Mr. Chávez said Sunday that he wished...",/people/person/nationality
7,Evo Morales,Bolivia,"They suggest that if elected , he would immedi...",/people/person/nationality
8,Evo Morales,Bolivia,Another outstanding selection is Alejandro Lan...,/people/person/nationality
9,Evo Morales,Bolivia,A8 More Criticism for Evo Morales Political op...,/people/person/nationality
10,Evo Morales,Bolivia,"For example , President Evo Morales of Bolivia...",/people/person/nationality
11,Evo Morales,Bolivia,"Evo Morales has put Bolivia on the map , '' sh...",/people/person/nationality
12,Evo Morales,Bolivia,The ascension in January 2006 to Bolivia 's pr...,/people/person/nationality
13,Evo Morales,Bolivia,"Tinku is a sublime , beautiful act , '' said W...",/people/person/nationality
14,Evo Morales,Bolivia,"With Mr. Chávez 's enthusiastic support , Boli...",/people/person/nationality
15,Evo Morales,Bolivia,"Indeed , many Brazilians blame Bolivia and its...",/people/person/nationality
16,Evo Morales,Bolivia,Analysts contrast Mr. Chávez 's success at con...,/people/person/nationality
17,Evo Morales,Bolivia,Political opponents of President Evo Morales o...,/people/person/nationality
18,Evo Morales,Bolivia,"Venezuela , of course , has Latin America 's l...",/people/person/nationality
19,Evo Morales,Bolivia,"I am certain that on May 1 , comrade Fidel wil...",/people/person/nationality
20,Evo Morales,Bolivia,United States officials see the Mexican presid...,/people/person/nationality
21,Evo Morales,Bolivia,"In Bolivia , President Evo Morales is trying t...",/people/person/nationality
22,Evo Morales,Bolivia,"Ecuador 's new president , Rafael Correa , joi...",/people/person/nationality
23,Florida,Ponte Vedra Beach,Kuhn and his wife Luisa relocated to Ponte Ved...,/location/location/contains
24,Florida,Ponte Vedra Beach,"John J. Mackowski , insurance executive and pr...",/location/location/contains
25,New York City,IFC Center,-LRB- Dave Kehr -RRB- FARES TO REMEMBER : TAXI...,/location/location/contains
26,Ned Lamont,Greenwich,"The draw : Ned Lamont , the Greenwich Democrat...",/people/person/place_lived
27,New York Yankees,New York City,"Last year , a state screening committee recomm...",/sports/sports_team/location
28,Connecticut,Ridgefield,"But in April , the production moved to Connect...",/location/location/contains
29,Bode Miller,New Hampshire,"SKIING Correction : May 17 , 2007 , Thursday A...",/people/person/place_lived
...,...,...,...,...
172418,Gary Bettman,Canada,Commissioner Gary Bettman gave a news conferen...,NA
172419,Canada,Gary Bettman,Commissioner Gary Bettman gave a news conferen...,NA
172420,Barbara Lee,Portland,"If it does n't pass there , that will be a pre...",NA
172421,Portland,Barbara Lee,"If it does n't pass there , that will be a pre...",NA
172422,Barbara,Howard,Beloved husband and best friend of Barbara ; l...,NA
172423,Ira,Janice,Beloved husband and best friend of Barbara ; l...,NA
172424,Ira,Michael,Beloved husband and best friend of Barbara ; l...,NA
172425,Janice,Ira,Beloved husband and best friend of Barbara ; l...,NA
172426,Janice,Alan,Beloved husband and best friend of Barbara ; l...,NA
172427,Janice,Howard,Beloved husband and best friend of Barbara ; l...,NA
172428,Janice,Michael,Beloved husband and best friend of Barbara ; l...,NA
172429,Alan,Janice,Beloved husband and best friend of Barbara ; l...,NA
172430,Alan,Howard,Beloved husband and best friend of Barbara ; l...,NA
172431,Howard,Barbara,Beloved husband and best friend of Barbara ; l...,NA
172432,Howard,Janice,Beloved husband and best friend of Barbara ; l...,NA
172433,Howard,Alan,Beloved husband and best friend of Barbara ; l...,NA
172434,Howard,Michael,Beloved husband and best friend of Barbara ; l...,NA
172435,Michael,Ira,Beloved husband and best friend of Barbara ; l...,NA
172436,Michael,Janice,Beloved husband and best friend of Barbara ; l...,NA
172437,Michael,Howard,Beloved husband and best friend of Barbara ; l...,NA
172438,Brad Smith,Leon Washington,Five players drafted last year spent at least ...,NA
172439,Brad Smith,Nick Mangold,Five players drafted last year spent at least ...,NA
172440,Brad Smith,D'Brickashaw Ferguson,Five players drafted last year spent at least ...,NA
172441,Leon Washington,Brad Smith,Five players drafted last year spent at least ...,NA
172442,Leon Washington,Nick Mangold,Five players drafted last year spent at least ...,NA
172443,Leon Washington,D'Brickashaw Ferguson,Five players drafted last year spent at least ...,NA
172444,Nick Mangold,Brad Smith,Five players drafted last year spent at least ...,NA
172445,Nick Mangold,Leon Washington,Five players drafted last year spent at least ...,NA
172446,D'Brickashaw Ferguson,Brad Smith,Five players drafted last year spent at least ...,NA
172447,D'Brickashaw Ferguson,Leon Washington,Five players drafted last year spent at least ...,NA

In [8]:
df_train = visualization.json_to_df('../data/raw/train.json')

In [9]:
print('head.words with length < 3')
[word for word in np.unique(df_train['head.word']) if len(word) < 3]

head.words with length < 3

['3M',
 'AZ',
 'Bo',
 'CT',
 'Ed',
 'FX',
 'GQ',
 'KB',
 'Li',
 'MG',
 'Oz',
 'UA',
 'UK',
 'Ur',
 'Wu']

In [10]:
print('tail.words with length < 3')
[word for word in np.unique(df_train['tail.word']) if len(word) < 3]

tail.words with length < 3

['3M',
 'AZ',
 'Bo',
 'CT',
 'Ed',
 'FX',
 'GQ',
 'KB',
 'Li',
 'Lo',
 'MG',
 'Mo',
 'Re',
 'UA',
 'UK',
 'WC',
 'Wu',
 'Yu']

In [11]:
df_train_clean = prepare_data(df_train)
df_train_clean
df_train_clean.to_csv('../data/train/train.csv')

Removed 94 outliers

,head.word,tail.word,sentence,relation
0,Syracuse,Onondaga Lake,She also oversaw the refinancing of the state ...,/location/location/contains
1,Syracuse,Onondaga Lake,More than 2.5 million cubic yards of contamina...,/location/location/contains
2,Syracuse,Onondaga Lake,"The Onondaga Nation has about 1,500 members , ...",/location/location/contains
3,Turkey,Adana,He was born in Istanbul but raised in the east...,/location/location/contains
4,Turkey,Adana,"By the end of his most recent tour , Rollins h...",/location/location/contains
5,Queens,Belle Harbor,One was for St. Francis de Sales Roman Catholi...,/location/location/contains
6,Queens,Belle Harbor,"But instead there was a funeral , at St. Franc...",/location/location/contains
7,Queens,Belle Harbor,"Rosemary Antonelle , the daughter of Teresa L....",/location/location/contains
8,Queens,Belle Harbor,She is a daughter of Marion I. Rabbin and Dr. ...,/location/location/contains
9,Queens,Belle Harbor,"The firefighter , whom a Fire Department offic...",/location/location/contains
10,Queens,Belle Harbor,He is a son of Vera and William Lichtenberg of...,/location/location/contains
11,Queens,Belle Harbor,In St. Francis de Sales Roman Catholic Church ...,/location/location/contains
12,Queens,Belle Harbor,"Colm J. Neilson , of Belle Harbor , Queens , s...",/location/location/contains
13,Queens,Belle Harbor,Sen. Charles E. Schumer called on federal safe...,/location/location/contains
14,Queens,Belle Harbor,"On Nov. 12 , while walking his dog near his ho...",/location/location/contains
15,Hokusai,Japan,The wave 's deep trough reflects the influence...,/people/person/nationality
16,Chandrika Kumaratunga,Sri Lanka,Sri Lanka is very much in the recovery phase o...,/people/person/place_of_birth
17,Chandrika Kumaratunga,Sri Lanka,"In the wake of the tsunami , Sri Lanka 's pres...",/people/person/place_of_birth
18,Chandrika Kumaratunga,Sri Lanka,"Eric Fernando , a spokesman for Sri Lanka 's p...",/people/person/place_of_birth
19,California,McCloud,"At one point , McCloud , who was then posing a...",/location/location/contains
20,Pietro Annigoni,Florence,"As a teenager , he studied in Florence with Pi...",/people/deceased_person/place_of_death
21,Barbara Stanwyck,Brooklyn,The key figure of the femme fatale was introdu...,/people/person/place_lived
22,Jorge Amado,Brazil,"Mr. Rabassa is a renowned translator , of Gabr...",/people/person/nationality
23,Lauren Conrad,Laguna Beach,10 P.M. -LRB- MTV -RRB- THE HILLS -- On '' Lag...,/people/person/place_lived
24,Lauren Conrad,Laguna Beach,"Last November , Lauren Conrad , 19 , attended ...",/people/person/place_lived
25,Roland Barthes,France,The wider cultural appreciation of photography...,/people/person/nationality
26,North Carolina,Mooresville,"I used to joke around , everyone kind of lives...",/location/location/contains
27,Amway,Richard DeVos,"Richard DeVos , a founder of Amway and a major...",/business/company/founders
28,Simone de Beauvoir,Paris,ERIC ALTERMAN '' When Presidents Lie '' I read...,/people/person/place_of_birth
29,Simone de Beauvoir,Paris,"When he left Spain for Paris in 1956 , his ant...",/people/person/place_of_birth
...,...,...,...,...
522581,Hicksville,Brookhaven,The fastest growing areas for immigrant popula...,NA
522582,Hicksville,Brookhaven,The fastest growing areas for immigrant popula...,NA
522583,Jack Kirby,Harvey Kurtzman,The Jewish Museum will focus on the work of ar...,NA
522584,South America,New Jersey,"Not on trips to Europe or South America , not ...",NA
522585,Long Island,Fairfield,"Results were based on responses from 1,106 adu...",NA
522586,Long Island,Fairfield,"In Montclair and Rahway in New Jersey , Fairfi...",NA
522587,Jonathan Lethem,Saul Bellow,There have been novels that have successfully ...,NA
522588,Holden,Bob Dolman,-LRB- Holden -RRB- ` HOW TO EAT FRIED WORMS ' ...,NA
522589,Asian,Beijing,A consortium of five Asian companies and a uni...,NA
522590,Zandra Rhodes,London,The London flagship sells capsule collections ...,NA
522591,Michael Moore,Jeff Daniels,Footnotes Jeff Daniels will receive the first ...,NA
522592,Nicholas,Cassia,Joanie will be forever in the hearts of her ad...,NA
522593,New York,Bruce Goldstein,"Happily , I saw the best film of the year in N...",NA
522594,Honda,Long Island,Driving around Long Island in a hatchback Hond...,NA
522595,London,Boeing,Pan Am 103 was a Boeing 747 en route to New Yo...,NA
522596,Hank Aaron,Frank Robinson,"Hank Aaron , Johnny Bench , Frank Robinson , H...",NA
522597,Ellen,Justin,We extend our deepest condolences to Bert 's w...,NA
522598,Pelzer,Richard,"But now one of his brothers , Richard B. Pelze...",NA
522599,University of Connecticut,National Football League,"FOR many in the state , part of the intrigue s...",NA
522600,Essie,Gary,"Loving , caring father to Essie and Marty , Ga...",NA
522601,Clark Kent,French,"So , Warner 's French marketing team came up w...",NA
522602,Arnold,Grey Global Group,"In January , a sibling Arnold agency , MPG , l...",NA
522603,Jeanine Pirro,Al Sharpton,"The Westchester County district attorney , Jea...",NA
522604,Williams,Saban,Saban met with Williams before the game and ex...,NA
522605,Williams,Saban,Saban had his defensive players '' butt '' -LR...,NA
522606,Akhil Reed Amar,America,In his forthcoming book '' America 's Constitu...,NA
522607,Potter Stewart,Sandra Day O'Connor,I KEENLY remember the excitement at the Suprem...,NA
522608,Iraq,Dempsey,General Dempsey said the unspent money in the ...,NA
522609,Lyle Overbay,Brian Giles,During an organizational meeting last year in ...,NA
522610,Odessa,Thessaloniki,"We begin in 1919 , as refugees from Odessa , f...",NA