In [1]:
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import sys
sys.path.insert(0, '../utils')
import data_utils

In [6]:
df = data_utils.json_to_df('../data/raw/test.json')

df_x = df[['head.word', 'sentence', 'tail.word']]
df_y = df['relation']

df_x.head()
df_y.head()

,head.word,sentence,tail.word
0,Arthur Schnitzler,"The Little Comedy , '' a mannered operetta bas...",Vienna
1,Roberto Calvi,A court in Rome acquitted five people accused ...,Italy
2,Johnny Rivers,There were also performers who were born in Lo...,Louisiana
3,Philippines,"When Julian Resuello , the mayor of San Carlos...",San Carlos City
4,Alex Salmond,"A3 Concern Raised by Libya Deal Alex Salmond ,...",Scotland

0    /people/person/place_of_birth
1       /people/person/nationality
2       /people/person/place_lived
3      /location/location/contains
4       /people/person/nationality
Name: relation, dtype: object