In [3]:
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
import sys
sys.path.insert(0, '../utils')
import data_utils

In [5]:
df = data_utils.json_to_df('../data/raw/test.json')

df_x = df[['head.word', 'sentence', 'tail.word']]
df_y = df['relation']

df_x.head()
df_y.head()

,head.word,sentence,tail.word
0,Arthur Schnitzler,"The Little Comedy , '' a mannered operetta bas...",Vienna
1,Roberto Calvi,A court in Rome acquitted five people accused ...,Italy
2,Johnny Rivers,There were also performers who were born in Lo...,Louisiana
3,Philippines,"When Julian Resuello , the mayor of San Carlos...",San Carlos City
4,Alex Salmond,"A3 Concern Raised by Libya Deal Alex Salmond ,...",Scotland

0    /people/person/place_of_birth
1       /people/person/nationality
2       /people/person/place_lived
3      /location/location/contains
4       /people/person/nationality
Name: relation, dtype: object

In [6]:
df_word_vec = data_utils.json_to_df('../data/raw/word_vec.json')
df_word_vec.head()

                                                 vec  word
0  [0.198994, 0.219711, -0.190422, -0.162968, 0.0...  </s>
1  [-0.006928, 0.031052, -0.140201, 0.041724, 0.1...     ,
2  [-0.065975, 0.037477, 0.009166, 0.189686, 0.04...     .
3  [-0.147404, -0.03084, -0.020694, 0.023617, -0....   the
4  [-0.119614, -0.128246, -0.201903, 0.248234, -0...     '

In [15]:
sentence = df_x.iloc[0]['sentence']

In [16]:
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')
stop_words = set(stopwords.words('english'))

def clean_stop_words(text):
    word_tokens = tokenizer.tokenize(text.lower())
    return [w for w in word_tokens if not w in stop_words]

def get_word_vector(word):
    return df_word_vec[df_word_vec['word'] == word]['vec']

clean_words = clean_stop_words(sentence)

In [17]:
{word: get_word_vector(word) for word in clean_words}

{'little': 222    [-0.226652, -0.014054, -0.063032, 0.032032, -0...
 Name: vec, dtype: object,
 'comedy': 2081    [-0.215373, -0.012649, 0.050545, 0.201098, -0....
 Name: vec, dtype: object,
 'mannered': 16733    [0.056982, 0.020545, 0.172472, -0.013877, 0.16...
 Name: vec, dtype: object,
 'operetta': 27084    [-0.105239, 0.154391, 0.068828, 0.13269, 0.069...
 Name: vec, dtype: object,
 'based': 343    [-0.038695, -0.037486, -0.208389, 0.126483, -0...
 Name: vec, dtype: object,
 'short': 575    [-0.057137, -0.228122, 0.166657, 0.033295, 0.2...
 Name: vec, dtype: object,
 'story': 451    [-0.099837, 0.038401, -0.058772, 0.324793, -0....
 Name: vec, dtype: object,
 'arthur': 2777    [0.107145, 0.121737, 0.112867, 0.183907, -0.11...
 Name: vec, dtype: object,
 'schnitzler': 55358    [0.179735, 0.159849, -0.064546, 0.210633, 0.01...
 Name: vec, dtype: object,
 'set': 272    [-0.155176, -0.027629, -0.067453, 0.217813, 0....
 Name: vec, dtype: object,
 'fin': 16265    [0.122962, 0.113223, -0.064344, 0.226941, 0.13...
 Name: vec, dtype: object,
 'de': 799    [0.193683, 0.14382, 0.023322, 0.358574, 0.2917...
 Name: vec, dtype: object,
 'si': 25725    [0.019429, -0.224957, -0.200682, 0.273893, 0.0...
 Name: vec, dtype: object,
 'Ã¨cle': Series([], Name: vec, dtype: object),
 'vienna': 5551    [-0.057128, 0.201531, -0.08115, 0.174644, 0.15...
 Name: vec, dtype: object,
 'opens': 2338    [-0.235156, 0.118224, -0.095628, 0.293513, 0.0...
 Name: vec, dtype: object,
 'evening': 907    [-0.152188, 0.249075, 0.159796, 0.018217, 0.04...
 Name: vec, dtype: object}